{
  "overrides": [
    {
      "files": "*.{bat,cmd}",
      "options": {
        "endOfLine": "crlf"
      }
    },
    {
      "files": "test.md",
      "options": {
        "endOfLine": "crlf"
      }
    }
  ]
}
